@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

body {
    background: url(img/background.png);
    background-size: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 19px;
}

.main-wrapper {
    margin: 21px 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.column {
    padding: 8px 12px 0 12px;
}

.column-empty {
    padding: 0 12px;
}

.column,
.column-empty {
    background: #DFE3E6;
    border-radius: 3px;
    margin-right: 12px;
}

.column-title {
    font-weight: bold;
    color: #000000;
    margin-bottom: 12px;
}

.cards-wrapper {
    max-height: 532px;
    overflow: overlay;
}

.card {
    cursor:pointer;
    margin-bottom: 8px;
    width: 248px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    padding: 8px 8px 8px 12px;
}

.card:last-child {
    margin-bottom: 0;
}

.add-new-card,
.add-new-column {
    cursor: pointer;
    width: 248px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 43px;
    color: #6B808C;
}

.plus-mark {
    margin-right: 8px;
}

.adding-card-wrapper,
.adding-column-wrapper {
    display:none;
    margin-top: 8px;
    margin-bottom: 12px;
}

.green-button-wrapper {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.green-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    width: 152px;
    font-weight: bold;
    height: 30px;
    background: #39C071;
    border-radius: 3px;
    color: #FFFFFF;
}

.cross-mark {
    cursor: pointer;
}

.green-button-text {
    margin: auto;
}

.new-card-text,
.new-column-text {
    height: 34px;
    display: block;
    width: 248px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    padding: 8px 8px 8px 12px;
    -webkit-box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 19px;
}

.new-card-text::-webkit-input-placeholder,
.new-column-text::-webkit-input-placeholder  {
    color: #B8B9BB;
}

.new-card-text:-ms-input-placeholder,
.new-column-text:-ms-input-placeholder  {
    color: #B8B9BB;
}

.new-card-text::-ms-input-placeholder,
.new-column-text::-ms-input-placeholder  {
    color: #B8B9BB;
}

.new-card-text::placeholder,
.new-column-text::placeholder  {
    color: #B8B9BB;
}

.noscroll {
    overflow: hidden;
}


.hiddendiv {
    display: none;
    width: 248px;
    padding: 8px 8px 8px 12px;
    -webkit-box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hidden {
    display:none;
}

.dragged-clone {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.dragged-object {
    background-color: #C9D2D9;
}